 html,
 body {
     max-width: 100vw;
     overflow-x: hidden;
 }

 /* Tambahkan style custom untuk sidebar */
 .sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    /* Posisi sidebar di luar layar */
    height: 100%;
    width: 250px;
    background-color: rgb(22 101 52);
    transition: right 0.4s ease-in-out;
    padding-top: 60px;
    /* Ruang untuk header */
    z-index: 1000;
 }

 .sidebar.active {
     right: 0;
     /* Tampilkan sidebar saat aktif */
 }

 .overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
 }

 .overlay.active {
     display: block;
     /* Tampilkan overlay saat sidebar aktif */
 }

 .sidebar-border{
    padding-bottom: 5px;
     border-bottom: 1px solid #d4d4d8;
 }
  /* Garis pembatas antar item */

 .hamburger-icon {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1100;
     /* Z-index lebih tinggi dari sidebar */
 }