@tailwind base;
@tailwind components;
@tailwind utilities;

.card-color {
	background-color: #f8f6f2;
}
.nav-blur {
	transition: background-color 0.3s ease, -webkit-backdrop-filter 0.3s ease;
	transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
	transition: background-color 0.3s ease, backdrop-filter 0.3s ease, -webkit-backdrop-filter 0.3s ease;
}
.nav-blur.scrolled {
	background-color: rgba(133, 129, 129, 0.6);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

.custom-color1{
	color: #527853;
}
.custom-color2{
	color: #EE7214;
}
.custom-bg1{
	background-color: #527853;
}

.custom-underline {
	position: relative;
	transition: color 0.3s ease;
	color: white;
}
.custom-underline::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #ee7214;
	left: 0;
	bottom: -8px;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

.custom-underline:hover {
	color: #ee7214; /* Text color on hover */
}

.custom-underline:hover::after {
	transform: scaleX(1);
}

.custom-button {
	border: 2px solid #ec7e2a; /* Green border */
	color: #ec7e2a; /* Initial text color */
	transition: background-color 0.3s ease, color 0.3s ease;
}
.custom-button:hover {
	background-color: #ec7e2a; /* Dark green background on hover */
	color: white; /* Text color on hover */
}

.nav-overlay {
	pointer-events: none; /* Membuat elemen overlay tidak mengambil interaksi pointer */
}

.carousel-item {
	position: absolute;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}
.carousel-item.active {
	opacity: 1;
}


.custom-grid-colums{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 1.5rem;
}

/* .dropdown {
	float: left;
	overflow: hidden;
}
.dropdown-menu{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	padding: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.dropdown-menu a {
	float: none;
	color: black;
	text-decoration: none;
	display: block;
	text-align: left;
} */

.dropdown:hover .dropdown-menu {
	display: block;
} 